<form class="panel border rounded border-gray-400 mt-24 grid grid-cols-[300px_minmax(10vw,_370px)] bg-white shadow-sm" [formGroup]="formGroup">
  <div class="flex items-center justify-center border-r border-gray-400">background</div>
  <div class="p-6">
    <h1 class="font-bold text-lg mb-4">Login</h1>
    <div class="flex flex-col gap-1 mb-4">
      <label for="email">Email</label>
      <input pInputText type="email" id="email" aria-describedby="username-help" formControlName="email" />
      <small id="email-help"></small>
    </div>
    <div class="flex flex-col gap-1 mb-4">
      <label for="firstname">Password</label>
      <input pInputText id="firstname" type="password" aria-describedby="username-help" />
      <small id="password-help"></small>
    </div>
    <div class="flex"><p-button class="ml-auto" label="Login" type="submit" /></div>
  </div>
</form>
