<h1>Choose Your Resume Layout</h1>

<div class="layouts">
  @for (item of allLayouts; track item.value) {
  <div class="flex-1" (click)="changeSelectedLayout(item.value)">
    <img [src]="item.imageUrl" alt="" />
    <p-radioButton
      name="layout-item"
      [value]="item.value"
      [(ngModel)]="layout"
      [inputId]="item.value"
    />
    <label [for]="item.value" class="ml-2"> {{ item.value }} </label>
  </div>
  }
</div>

<div class="button-next">
  <p-button (click)="navigateBuilder()">Next</p-button>
</div>
