<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="isDialogOpen"
  (visibleChange)="test($event)"
  [style]="{ width: '25rem' }"
>
  <div class="card border border-gray-300" *ngIf="treeData">
    <p-tree
      [value]="treeData"
      filter="true"
      selectionMode="checkbox"
      [(selection)]="selectedContacts"
    />
  </div>
  <br />
  <div class="social-selector-buttons flex justify-end">
    <!-- <p-button label="Cancel" severity="secondary" (click)="closeDialog()" /> -->
    <p-button label="Save" (click)="saveClicked()"/>
  </div>
</p-dialog>
