:host {
  .work-experience-item {
    padding: 15px;
    background: #201e27;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  input {
    width: 100%;
  }
}

/* :host ::ng-deep { */
/*   p-input input { */
/*     width: 100%; */
/*   } */
/* } */
