<form [formGroup]="formGroup">
  <h2>Work Experience</h2>
  <div>
    <!-- TODO: Make this more readable and clean, maybe create a reusable component -->
    <p-accordion [multiple]="true" class="work-experience-wrapper">
      <div formArrayName="workExperiences">
        <p-accordionTab [header]="workExperiences.controls[i].value.companyName || 'Work Experience ' + (i+1)"
                        class="accordion-item" *ngFor="let workExperience of workExperiences.controls;let i=index"
                        [formGroupName]="i">
          <div class="e-input">
            <label for="username">Company Name</label>
            <input pInputText id="companyName" formControlName="companyName" />
          </div>
          <div class="e-input">
            <label for="username">Occupation</label>
            <input pInputText id="occupation" formControlName="occupation" />
          </div>
          <div class="e-grid">
            <div class="e-input">
              <label for="username">Start Year</label>
              <input pInputText id="startYear" formControlName="startYear" />
            </div>
            <div class="e-input">
              <label for="username">End Year</label>
              <input pInputText id="endYear" formControlName="endYear" />
            </div>
          </div>
          <div class="e-input">
            <label for="username">Description</label>
            <input pInputText id="description" formControlName="description" />
          </div>
          <div class="e-input">
            <label for="username">Url</label>
            <input pInputText id="url" formControlName="url" />
          </div>
          <p-button label="Delete Item" severity="danger" (click)="removeWorkExperience(i)" />
        </p-accordionTab>
      </div>
    </p-accordion>
  </div>
  <p-button (click)="addWorkExperience()">Add Job Experience</p-button>
</form>
