:host {

  .app-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    margin: 15px auto;
    max-width: 45vw;

    .card {
      padding: 10px 30px 30px 30px;
      border: 1px solid #555;
      border-radius: 8px;
    }
  }

  /* .app-wrapper { */
    /* sidebar styles */
    /* position: absolute; */
    /* grid-template-columns: 30vw 1fr; */

    /* height: 100%; */
    /* width: 100%; */
    /* display: grid; */
    /* margin: 0 auto; */
    /* max-width: 70vw; */
  /* } */
}
