<div class="app-wrapper">
  <div class="card">
    <div class="menu-wrapper">
      <p-tabMenu
        [model]="items"
        [activeItem]="activeItem"
        (activeItemChange)="onActiveItemChange($event)"
      />
      <i class="pi pi-cog" severity="secondary"></i>
    </div>

    <div class="steps-wrapper">
      <ng-container *ngIf="activeItem?.title === 'basic-info'">
        <app-basic-info-form
          (next)="navigateNext()"
          (changed)="onDataChanged($event)"
          [basicInfo]="basicInfo"
        ></app-basic-info-form>
      </ng-container>
      <ng-container *ngIf="activeItem?.title === 'contact-info'">
        <app-contact-info-form
          (next)="navigateNext()"
          (changed)="onDataChanged($event)"
          [existingContactsInfo]="contactInfo"
        />
      </ng-container>
      <ng-container *ngIf="activeItem?.title === 'work-experience'">
        <app-work-experience-form
          [workExperience]="workExperience"
          (changed)="onDataChanged($event)"
        ></app-work-experience-form>
      </ng-container>
      <ng-container *ngIf="activeItem?.title === 'education'">
        <app-education-form
          [education]="education"
          (changed)="onDataChanged($event)"
        ></app-education-form>
      </ng-container>
    </div>
    <div class="buttons-wrapper g-align-right">
      @if (activeItem?.title !== 'basic-info') {
      <p-button (click)="navigatePrevious()" class="mr-2">Previous</p-button>
      }
      <p-button (click)="navigateNext()">Next</p-button>
    </div>
  </div>
  <app-layout-previewer></app-layout-previewer>
</div>
