<header class="border-b border-gray-400 mb-8">
  <div class="wrapper flex justify-between py-5">
    <div class="flex align-middle items-center">
      <div class="logo mr-12"></div>
      <nav class="flex align-middle items-center">
        <li class="font-bold text-sm">Home</li>
        <li class="font-bold text-sm">Create New</li>
        <li class="font-bold text-sm">Plans</li>
        <li class="font-bold text-sm">Settings</li>
      </nav>
    </div>
    <div class="controls flex">
      <span class="logout">Logout</span>
      <div class="profile"></div>
    </div>
  </div>
</header>
