:host {

  .app-wrapper {
    /* position: absolute; */
    /* grid-template-columns: 30vw 1fr; */
    height: 100%;
    width: 100%;
    display: grid;
    margin: 0 auto;
    max-width: 70vw;
  }
}
