<div class="wrapper">
  <p-card header="Choose how to save your resume">
    <p class="" class="button-wrapper">
      <p-button label="Create from scratch" routerLink="/layout-chooser"></p-button><br />
      <p-fileUpload
        mode="basic"
        chooseLabel="Upload JSON File"
        chooseIcon="pi pi-upload"
        customUpload="true"
        name="demo[]"
        [auto]="true"
        accept="application/json"
        maxFileSize="1000000"
        (uploadHandler)="onUpload($event)"
      />
    </p>
    <p>This project is still work in progress. Expect bugs.</p>
  </p-card>
</div>

<!-- <p-dialog -->
<!--   header="Json Setup" -->
<!--   [modal]="true" -->
<!--   [(visible)]="jsonModalVisibility" -->
<!--   [style]="{ width: '20vw' }" -->
<!--   [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" -->
<!--   [maximizable]="true"> -->
<!--   <p-button label="Create New Resume" routerLink="/layout-chooser"></p-button><br> -->
<!--   <p-button label="Upload Json File"></p-button> -->
<!-- </p-dialog> -->
