:host {
  p-card {
    text-align: center;
  }
  .wrapper {
    width: 100%;
    max-width: 550px;
    margin: 10em auto 0 auto;
    display: block;
  }

  .p-button {
    display: block;
    width: 100% !important;
  }

  .button-wrapper {
    margin-top: 0;
    padding: 0;
    text-align: center;
  }
}

:host ::ng-deep {
  .button-wrapper p-button button {
    margin-bottom: 8px;
  }

  .p-card-title {
    margin-top: 8px;
  }

  .p-card-content {
    padding-bottom: 0;
  }
}
