<div>
  {{ selectedSocials | json }}
</div>
<!-- <form [formGroup]="formGroup"> -->
<!--   <ng-container *ngFor="let contact of contacts.controls;let i=index"> -->
<!--     <p-inputGroup *ngIf="!contacts.controls[i].disabled" [formGroupName]="i"> -->
<!--       <button type="button" pButton></button> -->
<!--       <input type="text" pInputText placeholder="http://" /> -->
<!--     </p-inputGroup> -->
<!--   </ng-container> -->
<!-- </form> -->
<!-- <form> -->
<!--   <p-inputGroup> -->
<!--     <button type="button" pButton label="Search"></button> -->
<!--     <input type="text" pInputText placeholder="Keyword" /> -->
<!--   </p-inputGroup> -->
<!-- </form> -->
