@layer normalize, primeng;

@import "normalize.css" layer(normalize-reset);
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

// Global styles
.g-align-right {
  text-align: right;
}

.g-align-center {
  text-align: center;
}

.e-input {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

  label {
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.e-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}