<form [formGroup]="formGroup">
  <div formGroupName="basicInfo">
    <div class="basic-info-wrapper">
      <h2>Basic Info</h2>
      <div class="e-input">
        <label for="username">Name</label>
        <input pInputText id="name" formControlName="name" />
      </div>
      <div class="e-input">
        <label for="username">Occupation</label>
        <input pInputText id="occupation" formControlName="occupation" />
      </div>
      <!-- <div class="e-grid"> -->
      <!--   <div class="e-input"> -->
      <!--     <label for="username">Email</label> -->
      <!--     <input pInputText id="email" formControlName="email" /> -->
      <!--   </div> -->
      <!--   <div class="e-input"> -->
      <!--     <label for="username">Phone Number</label> -->
      <!--     <input pInputText id="phoneNumber" formControlName="phoneNumber" /> -->
      <!--   </div> -->
      <!-- </div> -->
      <div class="e-input">
        <label for="username">Location</label>
        <input pInputText id="location" formControlName="location" />
      </div>
      <div class="e-input">
        <label for="username">Bio</label>
        <textarea id="" formControlName="bio" pTextarea cols="30" rows="10"></textarea>
        <!-- <p-editor formControlName="bio" [style]="{ height: '210px' }"> -->
        <!-- <ng-template pTemplate="header"> -->
        <!--   <span class="ql-formats"> -->
        <!--     <button type="button" class="ql-bold" aria-label="Bold"></button> -->
        <!--     <button type="button" class="ql-italic" aria-label="Italic"></button> -->
        <!--     <button type="button" class="ql-underline" aria-label="Underline"></button> -->
        <!--   </span> -->
        <!-- </ng-template> -->
        <!-- </p-editor> -->
      </div>
    </div>
  </div>
</form>
