:host {
  .e-input {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;

    label {
      margin-bottom: 8px;
      font-weight: 600;
    }
  }

  .rounded-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
  }


  .e-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
