:host {
  form {
    overflow-y: scroll;
    max-height: 75vh;
  }

  input {
    width: 100%;
  }

  .work-experience-duration {
    .e-grid {
      margin-bottom: 8px;
    }
    label[for='present-checkbox'] {
      margin-right: 8px;
    }
    margin-bottom: 30px;
  }
}

:host ::ng-deep {
  p-calendar,
  p-calendar input,
  p-calendar span {
    width: 100%;
  }
}

/* :host ::ng-deep { */
/*   p-input input { */
/*     width: 100%; */
/*   } */
/* } */
