<h2>Work Experience</h2>
<form [formGroup]="formGroup" *ngIf="!loading">
  <div>
    <!-- TODO: Make this more readable and clean, maybe create a reusable component -->
    <p-accordion [multiple]="true" class="work-experience-wrapper" (onOpen)="onOpen($event)" (onClose)="onClose($event)" [activeIndex]="activeIndex">
      <div formArrayName="workExperiences">
        <p-accordionTab [header]="workExperiences.controls[i].value.companyName || 'Work Experience ' + (i+1)"
                        class="accordion-item" *ngFor="let workExperience of workExperiences.controls;let i=index"
                        [formGroupName]="i">
          <div class="e-input">
            <label for="username">Company Name</label>
            <input pInputText id="companyName" formControlName="companyName" />
          </div>
          <div class="e-input">
            <label for="username">Occupation</label>
            <input pInputText id="occupation" formControlName="occupation" />
          </div>
          <div class="work-experience-duration">
            <div class="e-grid">
              <div class="e-input mb-0">
                <label for="username">Start Year</label>
                <p-calendar formControlName="startYear" dateFormat="mm/yy" />
              </div>
              <div class="e-input mb-0">
                <label for="username">End Year</label>
                <p-calendar formControlName="endYear" />
                <!-- <input pInputText id="endYear" formControlName="endYear" [disabled]="true" /> -->
              </div>
            </div>
            <div>
              <label for="present-checkbox">Present</label>
              <p-checkbox
                id="present-checkbox"
                formControlName="present"
                value="present"
                (click)="togglePresent(i)"
                inputId="binary" />
            </div>
          </div>
          <div class="e-input">
            <label for="username">Description</label>
            <input pInputText id="description" formControlName="description" />
          </div>
          <div class="e-input">
            <label for="username">Url</label>
            <input pInputText id="url" formControlName="url" />
          </div>
          <p-button label="Delete Item" severity="danger" (click)="removeWorkExperience(i)" />
        </p-accordionTab>
      </div>
    </p-accordion>
  </div>
</form>
<p-button (click)="addWorkExperience()">Add Job Experience</p-button>
